<form class="new-card">
  <input class="form-control input-sm" placeholder="Title" type="text" name="board[title]">

  <input class="form-control input-sm" placeholder="Description" type="text" name="board[description]">

  <input class="form-control input-sm" placeholder="Ord" type="text" name="board[ord]">

  <button class="btn btn-primary btn-xs">Create</button>
</form>
