<a class="title" href="#/boards/<%= board.id %>">
  <%= board.escape('title') %>
</a>
<button class="delete-board btn btn-danger pull-right btn-xs">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</button>
