div.list {
  float: left;
  border: black 4px solid;
  background-color: #DADADA;
  border-radius: 15px;
  margin: 25px;
  width: 200px;
  min-height: 400px;
  position: relative;
}

div.list.new-list {
  padding: 12px;
}

div.card {
  height: 23px;
  // border: black 2px solid;
  background-color: #FEFEFE;
  border-radius: 5px;
  padding: 0 5px;
  margin: 10px 10px;
}

form.new-card {
  position: absolute;
  bottom: 5px;
  padding: 0 15px;
}

div.card:hover > button.card-hover {
  display: block;
}

button.card-hover {
  display: none;
}

div.list:hover > button.list-hover {
  display: block;
}

button.list-hover {
  display: none;
}
