<h4>Create New List</h4>
<form class="new-list">
  <label>Title:</label>
  <input placeholder="Example" type="text" name="board[title]">
  <br>
  <label>Ord:</label>
    <input placeholder="1" type="text" name="board[ord]">
  <br>
  <button class="btn btn-primary">Create</button>
</form>
