<button class="delete-list btn btn-danger btn-xs pull-right">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</button>
<br>

<h4 class='text-center'><%= list.escape('title') %></h4>
<div class="card-list"></div>
<div class="new-card-form"></div>
