<button class="delete-list list-hover btn btn-danger btn-xs pull-right">
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</button>
<br>

<h4 class='text-center'><%= list.escape('title') %></h4>

<div class="card-list connectedSortable" id="card-sortable"></div>

<div class="new-card-form"></div>
